target/classes/sonar-code-test-cicd-v3.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" basePath="/" doc:name="HTTP Listener Configuration"/>
    <db:oracle-config name="Oracle_Configuration" host="test.com" port="1521" instance="sid" user="sudhir" password="sudhir" doc:name="Oracle Configuration"/>
    <flow name="sonar-code-test-cicd-v3Flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" allowedMethods="POST" doc:name="HTTP"/>
        <set-payload value="testOutput1" doc:name="Set Payload"/>
        <db:insert config-ref="Oracle_Configuration" doc:name="Database">
            <db:parameterized-query/>
        </db:insert>
        <catch-exception-strategy doc:name="Catch Exception Strategy">
            <set-payload value="#[message.exception.getMessage()]" doc:name="Set Payload"/>
        </catch-exception-strategy>
    </flow>
</mule>
